# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
venv/
ENV/

# Environment Variables
.env
.env.local

# Database
*.sqlite3
*.db

# Alembic
alembic/versions/*.pyc

# IDEs
.vscode/
.idea/
.DS_Store
